<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{% url 'agregar_producto' %}">Agregar Producto</a>
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} - {{ producto.descripcion }} - ${{ producto.precio }} - {% if producto.disponible %}Disponible{% else %}No disponible{% endif %}
                <a href="{% url 'eliminar_producto' producto.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    
</body>


</html>
